@charset "UTF-8";

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

button.link {
    border: none;
    font: inherit;
    padding: unset;
    background: none;
}

a, button.link {
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover, a:focus, button.link:hover {
    border-bottom: 1px solid #fff;
}

a[href^="#"]:after {
    content: " ↓";
}

h1 {
    margin: 0;
}

h2 {
    clear: both;
    margin-top: 1em;
    color: #1982d1;
}

/* header and footer */
header, footer {
    background: #1982d1;
}

header {
    padding: .5em;
}

header, header a, footer, footer a {
    color: #fff;
}

nav ul {
    float: right;
    padding: .7em;
    list-style: none;
}

nav li {
    display: inline;
}

#clear-header {
    clear: both;
}

footer {
    margin-top: 2em;
    padding: .1em;
    text-align: center;
}

#messages li {
    padding: .6em 0;
}

.success {
    padding: .3em;
    background: #46b450;
}

.error {
    padding: .3em;
    background: #dc3232;
}

/* tables, partly inspired by tablesort's default theme */
table {
    clear: both;
    width: 100%;
    border-collapse: collapse;
    font-size: .6em;
}

tr:nth-child(2n) {
    background: #ddd;
}

th, td {
    padding: 4px;
    vertical-align: top;
    text-align: left;
}

table a {
    color: #000;
}

thead th, thead td {
    border-bottom: #ccc 2px solid;
}

th[colspan] {
    text-align: center;
}

.right {
    text-align: right;
}

.latest, .positive {
    background: #46b450 !important;
}

.old {
    background: #f1adad !important;
}

.missing, .negative {
    background: #dc3232 !important;
}

.latest a, .old a, .missing {
    color: #fff;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}


/* forms */
#forms {
    margin: auto;
    width: 60%;
}

.hide {
    display: none;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.column:first-child {
    margin-right: 100px;
}

input[type="text"], button:not(.link) {
    line-height: 1.5;
    padding: 10px;
    margin-top: 10px;
}

input[type=text] {
    height: calc(.75rem + 2px);
    width: 280px;
}

button:not(.link) {
    width: 100%;
    margin: 10px auto;
    display: block;
    background: #1982d1;
    color: #fff;
    font-size: 1.2em;
    border: none;
}

form.inline {
    display: inline;
}
